
html {
    overflow-x: hidden;
    margin: 0 -.5rem 0 -.5rem;
    height: 0px;
}
body {
    background: rgb(86,36,55, .5);
}
hr {
    width: 70%;
    border: 2px solid navy;
}
footer {
    background: #e0e0e0;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
    margin: 1rem auto -1rem auto;
}



#centered {
    background: #e0e0e0;
    width: 80%;
    margin: 1rem auto 1rem auto;
    padding: 8.2rem 0;
    height: 100%;
}
#start {
    text-align: center;
}
#start-button {
    background-color: #44BB55;
    color: white;
    padding: 18px 30px;
    border-radius: 50px;
    font-size: 16px;
    margin: 2.4% auto;
    cursor: pointer;
}
header {
    margin: -.5rem -9999rem 0 -9999rem;
    padding: 0 9999rem;
    background: rgb(86, 136, 255);
    overflow-x: hidden;
    width: 100%;
}
h1 {
    display: block;
    text-align: center;
}
intro p{
    width:90%;
    margin: -2rem auto auto;
    padding-top: 1%;
}
gl {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin: 2% auto 1% auto;
}




.prob3 {
   text-align: center; 
}
#label-question {
    background: pink;
    padding: auto 6%;
    margin: 0 0 1%;
    width: auto;
    text-align: center;
}
#next-button {
    background: #44BB55;
    color: white;
    padding: .5em 1em;
    font-size: 16px;
    margin: 3% auto;
    cursor: pointer;
    border-radius: 50px;
}
form {
    margin-left: 10%;
    margin-right: 10%;
}
question {
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid black;
    border-bottom: 2px solid black;
}
question img {
    padding-left: 1rem;
    width: 1rem;
}

question, ans1, ans2, ans3, ans4 {
    display: block;
}



prob1, prob2, prob2-ans1, prob2-ans2, prob2-ans3, explanation, footer > text {
    display: block;
    color: gray;
    mix-blend-mode: difference;
}
prob1, prob2 {
    margin: 1rem auto;
}
