.centered {
    background: #eee;
    width: 80%;
    margin: 1.5rem auto 0rem auto;
    padding: 8.2rem 0;
    height: auto;
}
#start {
    text-align: center;
}
#start-button {
    background-color: #44BB55;
    color: white;
    padding: 18px 30px;
    display: inline-block;
    font-size: 16px;
    margin: 2.4% auto;
    cursor: pointer;
}
html {
    overflow-x: hidden;
    background: rgb(239, 239, 239, .5);
    margin: 0 -.5rem 0 -.5rem;
    height: 0px;
}

body {
    background: rgb(86,36,55, .5);
}

header {
    margin: -.5rem -9999rem 0 -9999rem;
    padding: 0 9999rem;
    background: rgb(86, 136, 255);
    overflow-x: hidden;
    width: 100%;
}
finale {
    display: none;
    text-align: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 80%;
    margin: 1rem auto 0 auto;
    background: #eee;
}

h1 {
    display: block;
    text-align: center;
}
hr {
    width: 90%;
    border: 2px solid navy;
}

intro p{
    width:90%;
    margin: auto;
    padding-top: 1%;
}
gl {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin: 2% auto 1% auto;
    width: 90%;
}
footer {
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}





#label-question {
    background: pink;
    padding: 0 6%;
    border: 2px solid black;
    width:100%;
}
#submit-button {
    margin-top: 1%;
}
form {
    margin-left: 10%;
    margin-right: 10%;
}
question {
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid black;g
    border-bottom: 2px solid black;
}
question img {
    padding-left: 1rem;
    width: 1rem;
}

question, ans1, ans2, ans3, ans4 {
    display: block;
}