h1 {
    text-align: center;
    background: #eee;
    margin: -.5rem -1rem 1rem -1rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    overflow-x: hidden;
}
table {
    display: flex;
    justify-content: center;
}

div {
    text-align: center;
}