html {
    /*background-color: black;*/
    text-align: center;
}
#logout {
    margin-top: 1rem;
    text-align: left;
}
#logout-button {
    display: none;
}

th {
    padding: 2.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid black;
}
#modal-input {
    display: flex;
    justify-content: center;
    /*text-align: center;*/
}
#cancel-button {
    font-size: 1.4rem;
}
#add-button {
    margin-top: 1rem;
    font-size: 2.1rem;
} 